<!DOCTYPE html>
<html>
<head>
	<title>Pestaña</title>
</head>
<body>
	<h1>Equipo Docente</h1>
	<h2>Profesor de catedra:</h2>
	<h3>Victor Hernandez</h3>
	<h2>Profesores Auxiliares:</h2>
	<h3>Javiera Ovalle T.</h3>
	<h3>Jorge Pinto</h3>
	<h3>Jose Canto</h3>
	<h3>Macarena V. Osorio A.</h3>
	<h2>Ayudantes:</h2>
	<h3>Carlos Alberto Vega Hernandez</h3>
	<h3>Catalina Martin D.</h3>
	<h3>Eduardo Valerio C.</h3>
	<h3>Juan Gutierrez T.</h3>
	<h3>Matias Rojas</h3>
	<h3>Nicolas Villa Contardo</h3>
	<h3>Sebastian Donoso</h3>
	<h3>Sofia Herrera</h3>
	<h3>Victoria Arce A.</h3>

	<br>
	<a href="{% url 'index' %}">Hola, soy un enlace a otra pestaña del proyecto(index)</a>
	<br>
	<a href="{% url 'pestaña' %}">Hola, soy un enlace a otra pestaña del proyecto</a>
</body>
</html>